---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
const pageTitle = "Contact";
const pageDescription = "Contact";
---
<style>
    /* :user-invalid() */
    .error-message {
        display: none;
    }

    input:user-invalid:not(:focus) + .error-message {
        display: block;
    }

    textarea:user-invalid:not(:focus) + .error-message {
        display: block;
    }

    /* :has() */
    .item:has(input:user-invalid:not(:focus)) {
        background: #ffe5e5;
    }

    .item:has(textarea:user-invalid:not(:focus)) {
        background: #ffe5e5;
    }

    /* sugbrid, ネスト */
    .contents {
        display: grid;
        grid-template-columns: max-content 1fr;

        @media (width < 600px) {
            grid-template-columns: 1fr;
        }
    }

    .contents .item {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: span 2;

        @media (width < 600px) {
            grid-column: span 1;
            gap: 8px;
        }
    }

    /* その他のスタイル */

    * {
        box-sizing: border-box;
    }

    .form-wrapper {
        display: grid;
        grid-template-columns: max-content 1fr;
        gap: 16px; /* 必要に応じて調整 */
    }

    @media (width < 600px) {
        .form-wrapper {
            grid-template-columns: 1fr;
        }
    }


    .item {
        padding: 16px;

        @media (width < 600px) {
            grid-column: span 1;
            gap: 8px;
        }
    }

    input {
        width: 100%;
        height: 42px;
        padding: 8px;
        font-size: 20px;
        background-color: #f3f3f3;
        border: none;
        border-radius: 4px;
    }

    textarea {
        width: 100%;
        height: 84px;
    }

    label {
        position: relative;
        display: flex;
        gap: 8px;
        align-self: center;
    }

    label::before {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 8px;
        font-size: 14px;
        text-align: center;
        letter-spacing: 0.7px;
        border-radius: 4px;
    }

    label.optional::before {
        color: #fff;
        content: "任意";
        background-color: #6c6c6c;
    }

    label.required::before {
        color: #fff;
        content: "必須";
        background-color: #ff7e46;
    }

    .input-wrapper {
        position: relative;
    }

    .error-message {
        position: absolute;
        bottom: calc(100% + 8px);
        left: 0;
        justify-content: center;
        padding: 6px;
        font-size: 14px;
        color: #fff;
        text-align: center;
        background-color: #e02e2f;
        filter: drop-shadow(2px 2px 2px rgb(0 0 0 / 25%));
        border-radius: 6px;

        @media (width < 600px) {
            top: calc(100% + 8px);
            bottom: auto;
            left: 8px;
        }
    }

    .error-message::after {
        position: absolute;
        bottom: -6px;
        left: 8px;
        width: 14px;
        height: 14px;
        clip-path: polygon(50% 100%, 0 0, 100% 0);
        content: "";
        background-color: #e02e2f;

        @media (width < 600px) {
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        }
    }

    @media (width < 600px) {
        .error-message::after {
            top: -6px;
            bottom: auto;
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        }
    }

    button {
        grid-column: span 2;
        align-items: center;
        justify-content: center;
        justify-self: center;
        padding: 16px 60px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        cursor: pointer;
        background-color: #ff7e46;
        border: none;
        border-radius: 30px;

        @media (width < 600px) {
            grid-column: span 1;
        }
    }
</style>
<Layout pageTitle={pageTitle} pageDescription={pageDescription}>
    <div class="gif">
        <img src="/.netlify/images?url=/images/space.webp" role="presentation" width="300" height="259" decoding="async">
    </div>
    <h2>Contact</h2>
    <div class="contents">
        <form action="https://ssgform.com/s/0mbZqKwWd33W" method="post" class="form-wrapper" id="recaptcha">
            <div class="item">
                <label for="name" class="required">氏名 </label>
                <div class="input-wrapper">
                    <input id="name" name="お名前" type="text" required />
                    <div class="error-message">入力されていません</div>
                </div>
            </div>
            <div class="item">
                <label for="mailaddress" class="required">メールアドレス</label>
                <div class="input-wrapper">
                    <input id="mailaddress" name="メールアドレス" type="email" required />
                    <div class="error-message">メールアドレスの形式が正しくありません</div>
                </div>
            </div>
            <div class="item">
                <label for="message" class="required">お問い合わせ内容</label>
                <div class="input-wrapper">
                    <textarea id="message" name="お問い合わせ内容" required></textarea>
                    <div class="error-message">入力されていません</div>
                </div>
            </div>
            <button
                    class="g-recaptcha"
                    data-sitekey="6LdQo5UqAAAAAG5Bp5Gkl3XfLz9_o-8Zym98tXkU"
                    data-callback='onSubmit'
                    data-action='submit'
                    type="submit">送信する
            </button>
        </form>
    </div>
</Layout>

<script is:inline src="https://www.google.com/recaptcha/api.js" defer>
function onSubmit() {
    document.getElementById("recaptcha").submit();
    }
</script>
