---
import Layout from '../layouts/Layout.astro';
import '../styles/contact.css';
import { Image } from 'astro:assets';
const pageTitle = "yama'sBlog";
const pageDescription = "yama'sBlog";
---

<Layout pageTitle={pageTitle} pageDescription={pageDescription}>
    <div class="gif">
        <Image  width="300" height="259" alt="RaccoonSpaceGif" src="/space.webp" loading="eager"/>
    </div>
    <h1>Contact</h1>
    <div class="contents">
        <form action="https://ssgform.com/s/0mbZqKwWd33W" method="post" class="form-wrapper" id="recaptcha">
            <div class="item">
                <label for="name" class="required">氏名 </label>
                <div class="input-wrapper">
                    <input id="name" name="お名前" type="text" required />
                    <div class="error-message">入力されていません</div>
                </div>
            </div>
            <div class="item">
                <label for="mailaddress" class="required">メールアドレス</label>
                <div class="input-wrapper">
                    <input id="mailaddress" name="メールアドレス" type="email" required />
                    <div class="error-message">メールアドレスの形式が正しくありません</div>
                </div>
            </div>
            <div class="item">
                <label for="message" class="required">お問い合わせ内容</label>
                <div class="input-wrapper">
                    <textarea id="message" name="お問い合わせ内容" required></textarea>
                    <div class="error-message">入力されていません</div>
                </div>
            </div>
            <button
                    class="g-recaptcha"
                    data-sitekey="6LdQo5UqAAAAAG5Bp5Gkl3XfLz9_o-8Zym98tXkU"
                    data-callback='onSubmit'
                    data-action='submit'
                    type="submit">送信する
            </button>
        </form>
    </div>
</Layout>

<script is:inline src="https://www.google.com/recaptcha/api.js" defer>
function onSubmit() {
    document.getElementById("recaptcha").submit();
    }
</script>


