---
const year = new Date().getFullYear();
---
<footer>
    <div class="center">
        <ul class="footer" aria-busy="true">
        </ul>
        <small>&copy; {year} Milky-Way by <a class="footer__link" href="https://github.com/ttomczak3">ttomczak</a>. All Rights Reserved.</small>
    </div>
</footer>

