---
import BaseLayout from './Layout.astro';
import {Image} from "astro:assets";
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <div class="gif">
        <Image width="300" height="259" alt="RaccoonLaptopGif" src="/laptop.webp"/>
    </div>
    <h2>{frontmatter.title}</h2>
    <slot />
    <div class="center">
    </div>
</BaseLayout>

